<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <title th:text="#{booking.cart}"></title>
</head>
<body>
    <div class="container-fluid cart">
        <h2 class="cart-header" th:text="#{booking.tickets}"></h2>

        <th:block th:if="${not #maps.isEmpty(session.cart)}">
            <table class="table table-hover">
                <tr class="bg-info text-dark">
                    <th th:text="#{booking.ticket.train.number}"></th>
                    <th th:text="#{booking.ticket.city.from}"></th>
                    <th th:text="#{booking.ticket.city.to}"></th>
                    <th th:text="#{booking.ticket.time.departure}"></th>
                    <th th:text="#{booking.ticket.time.arrival}"></th>
                    <th th:text="#{booking.ticket.wagon.number}"></th>
                    <th th:text="#{booking.ticket.seat.number}"></th>
                    <th th:text="#{booking.ticket.price}"></th>
                    <th th:text="#{booking.ticket.action}"></th>
                </tr>
                <tr class="bg-dark text-light" th:each="ticket : ${session.cart.values()}">
                    <td th:text="${ticket.ticket.seat.trip.train.trainNumber}"></td>
                    <td th:text="${ticket.ticket.seat.trip.route.departureStation.city}"></td>
                    <td th:text="${ticket.ticket.seat.trip.route.arrivalStation.city}"></td>
                    <td th:text="${#temporals.format(ticket.departure, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${#temporals.format(ticket.arrival, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${ticket.ticket.seat.seat.wagon.wagonNumber}"></td>
                    <td th:text="${ticket.ticket.seat.seat.seatNumber}"></td>
                    <td th:text="${ticket.ticket.price}"></td>
                    <td>
                        <form method="post" th:action="@{/removeTicket}">
                            <input type="hidden" name="seat_id" th:value="${ticket.ticket.seat.tripSeatId}">
                            <button type="submit" class="btn btn-info" th:text="#{booking.ticket.remove}"></button>
                        </form>
                    </td>
                </tr>
            </table>
            <p class="total" th:text="#{booking.cart.total} + ': ' + ${session.total}"></p>

            <form th:action="@{/pay}" method="post">
                <button type="submit" class="btn btn-lg btn-info btn-block" th:text="#{booking.cart.pay}"></button>
            </form>
        </th:block>

        <a class="btn btn-lg btn-dark btn-block home" th:href="@{/}" th:text="#{booking.home}"></a>
    </div>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>