<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" th:text="${#locale}"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="?locale=en">en</a>
                <a class="dropdown-item" href="?locale=ru">ru</a>
                <a class="dropdown-item" href="?locale=uk">uk</a>
            </div>
        </div>

        <div class="logo">
            <a class="nav-link text-light" href="/">
                <img th:src="@{/img/train.png}"/>
                <span th:text="#{booking.title}"></span>
            </a>
        </div>

        <div class="btn-group btn-group-lg">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span th:text="(${session.total}?:'0.00') + ' uah'"></span><br/>
                    <span th:text="(${session.cart?.size()}?:'0') + ' tickets'"></span>
                </button>
                <div class="dropdown-menu">
                    <th:block th:each="ticket : ${session.cart?.values()}">
                        <span class="dropdown-item" th:text="${ticket.ticket.seat.trip.route.departureStation.city} +
                            ' - ' + ${ticket.ticket.seat.trip.route.arrivalStation.city} + ' : ' +
                            ${ticket.ticket.price} + 'uah'"></span>
                        <div class="dropdown-divider"></div>
                    </th:block>
                    <span class="dropdown-item" th:text="'Total: ' + (${session.total}?:'0.00') + ' uah'"></span>
                </div>
            </div>

            <button type="button" class="btn btn-info">
                <a th:href="@{/cart}" class="nav-link text-light" th:text="'Checkout'"></a>
            </button>
        </div>
        <a type="button" class="btn btn-light btn-lg" th:href="@{/login}" th:text="#{booking.login}"></a>
    </nav>
</header>