<td colspan="9" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-3">
            <form method="post" th:action="@{/chooseWagonClass}">
                <input type="hidden" name="index" th:value="${index.index}">
                <div class="form-group">
                    <label for="wagon_class">Wagon Class:</label>
                    <select id="wagon_class" name="wagon_class" class="form-control">
                        <option th:each="wagonClass : ${session.wagonClasses}" th:text="${wagonClass}"
                            th:selected="${session.selectedWagonClass != null && session.selectedWagonClass == wagonClass}">
                        </option>
                    </select>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">Choose Class</button>
            </form>
        </div>
        <div class="col-md-3">
            <form th:if="${session.wagons}" method="post" th:action="@{/chooseWagon}">
                <div class="form-group">
                    <label for="wagon_id">Wagon Number:</label>
                    <select id="wagon_id" name="wagon_id" class="form-control">
                        <option th:each="wagon : ${session.wagons}" th:value="${wagon.wagonId}" th:text="${wagon.wagonNumber}"
                            th:selected="${session.selectedWagon != null && session.selectedWagon.wagonId == wagon.wagonId}">
                        </option>
                    </select>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">Choose Wagon</button>
            </form>
        </div>
        <div class="col-md-3">
            <form th:if="${session.seats}" method="post" th:action="@{/chooseSeat}">
                <input type="hidden" name="ticket_id" th:value="${ticket.ticketId}">
                <div class="form-group">
                    <label for="seat_id">Seat Number:</label>
                    <select id="seat_id" name="seat_id" class="form-control">
                        <option th:each="seat : ${session.seats}" th:value="${seat.tripSeatId}"
                                th:selected="${session.selectedSeat != null && session.selectedSeat.tripSeatId == seat.tripSeatId}"
                                th:text="${seat.seat.seatNumber}"></option>
                    </select>
                </div>
                <button class="btn btn-lg btn-info btn-block" type="submit">Choose Seat</button>
            </form>
        </div>
        <div class="col-md-3">
            <form method="get" th:action="@{/cancelSeatChange}">
                <button class="btn btn-lg btn-info btn-block cancel" type="submit">Cancel</button>
            </form>
        </div>
    </div>
</td>