<table class="table table-hover" xmlns:th="http://www.thymeleaf.org" th:fragment="schedule-table">
    <thead class="bg-info text-dark">
        <tr>
            <th>Train Number</th>
            <th>From</th>
            <th>To</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Prices from</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="bg-dark text-light">
        <!--/*@thymesVar id="trips" type="java.util.List"*/-->
        <tr th:each="trip : ${trips}">
            <!--/*@thymesVar id="trip" type="com.anton.railway.booking.dto.TripDto"*/-->
            <td th:text="${trip.train.trainNumber}"></td>
            <td th:text="${trip.route.departureStation.city}"></td>
            <td th:text="${trip.route.arrivalStation.city}"></td>
            <td th:text="${#temporals.format(trip.departure, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#temporals.format(trip.arrival, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${trip.minPrice}"></td>
            <td>
                <form method="get" th:action="@{/setTrip}">
                    <input type="hidden" name="trip_id" th:value="${trip.tripId}">
                    <button class="btn btn-info" type="submit">Buy Ticket</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>