<div class="search" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h2 th:text="#{booking.search.trains}"></h2>
        <form th:method="get" th:action="@{/search}">
            <div class="row">
                <div class="col-md-3">
                    <label for="departure">Departure City:</label>
                    <input id="departure" type="text" class="form-control" name="departure">
                </div>
                <div class="col-md-3">
                    <label for="arrival">Arrival City:</label>
                    <input id="arrival" type="text" class="form-control" name="arrival">
                </div>
                <div class="col-md-3">
                    <label for="date">Date:</label>
                    <input id="date" type="date" class="form-control" name="date">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-lg btn-info form-control" th:text="#{booking.search}"></button>
                </div>
            </div>
        </form>
    </div>
</div>